// обнуляющие стили
@import "_nullstyle";

// Шрифт Roboto + Roboto Condensed ==============
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap");

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
  -moz-transition-delay: #{$animation-delay};
  -o-transition-delay: #{$animation-delay};
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} {
    @content;
  }
  @-moz-keyframes #{$keyframes} {
    @content;
  }
  @-o-keyframes #{$keyframes} {
    @content;
  }
  @keyframes #{$keyframes} {
    @content;
  }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}

@mixin ffcondensed {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #201d1d;
}

body {
  background: #fff;
  @include ffcondensed();
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding: 0 32px 0 32px;
  position: relative;
  // z-index: 2;
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 32px;
  position: fixed;
  top: 0px;
  z-index: 20;
  background: #fff;
  width: 100%;
}
.menu__burger {
  display: none;
}
.header__logo {
}
// search ========================

.header__search {
  form {
    display: flex;
    align-items: center;
  }

  input {
    width: 720px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 20px;
    background: #f3f3f3;
  }
  input::placeholder {
    font-size: 14px;
    color: #969595;
  }

  button {
    height: 44px;
    width: 44px;
    cursor: pointer;
    background: #f3f3f3;
    font-size: 18px;
    color: #969595;
  }
}
.search__form {
}
// nav ========================
.header__nav {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;

  li:last-child {
    margin: 0 28px 0 0;
  }
}
.menu__link {
  color: #201d1d;
  font-size: 13px;
  letter-spacing: 0.01em;
  margin: 0 36px 0 0;
  &:hover {
    text-decoration: underline;
    color: #707070;
  }
}

// cube =====================
.nav__form-cube {
  margin: 0 64px 0 0;
}

// button login =======================
.btn__link {
  background: none;
  color: #201d1d;
  font-size: 13px;
  letter-spacing: 0.01em;
  &:hover {
    text-decoration: underline;
    color: #707070;
  }
}
// main ======================
main {
  background: url(../img/baground/1bg1920.jpeg) 0 0 / contain no-repeat;
  -ms-background: url(../img/baground/1bg1920.jpeg) 0 0 / contain no-repeat;
  padding: 0 0 192px 0;
  overflow: hidden;
  margin-top: 80px;
  width: 100%;
}

.main__links {
  margin: 0 0 86px 0;
}
.main__menu {
  padding: 20px 24px;
  display: flex;
}

.main__links::after {
  content: "";
  display: block;
  border: 1px solid #fff;
  opacity: 0.1;
}

.main__links-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  padding: 0 12px 0 0;
  &:hover {
    text-decoration: underline;
  }
}

.main__menu li:nth-child(1)::after {
  content: url(./icons/arrow.svg);
  padding: 0 12px 0 0;
  opacity: 1;
}

.main__menu li:nth-child(2) {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

// main title ====================
.main__title {
  margin: 0 0 0 230px;
  max-width: 735px;
}
.main__title {
  p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 55px;
  }
  h1 {
    font-size: 74px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 80px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}

.link__btn {
  font-size: 13px;
  color: #fff;
  background-color: #ff3214;
  padding: 16px 24px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

// section description ====================

.main__description {
  display: flex;
  padding: 80px 32px;
}

.main__description-title {
  flex: 0 1 50%;

  h2 {
    font-weight: 700;
    font-size: 36px;
  }
}
.main__item-title {
}
.description__item {
  max-width: 500px;
  li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-repeat: no-repeat;
    background: #ff3214;
    border-radius: 50%;
  }
}
.description__item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 0 15px;
  line-height: 20px;
  margin-bottom: 18px;
  position: relative;
}

// section result =================
.main__wrapper-result {
  background: #232630;
}
.main__result {
  display: flex;
  color: #fff;
  padding: 80px 0 80px 0;
}

.result__title {
  flex: 1 1 50%;

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    max-width: 380px;
    line-height: 44px;
  }
}

.result__item {
  // max-width: 500px;
  max-width: 100%;
  flex: 1 1 50%;
  li::before {
    content: url(../img/icons/check.svg);
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.result__item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 18px;
  max-width: 460px;
  padding: 0 0 0 27px;
  position: relative;
}

// section comment =================
.main__wrapper-comment {
  background: #fbfbfb;
}

.main__comment {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 130px 0 80px 0;
}

.main__item-text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  img {
    position: relative;
    top: 8px;
    margin-right: 53px;
  }
}
.comment__item-text {
  max-width: 965px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.comment__item-boss {
  margin-left: 90px;
  display: flex;
  align-items: center;
}
.boss__img {
  margin-right: 15px;
  img {
    border-radius: 50%;
  }
}
.boss__name {
  position: relative;
  bottom: 6px;
  h5 {
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 25px;
    color: #201d1d;
  }
  p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #969595;
    line-height: 16px;
  }
}

/* section bid from ================== */
.main__wrapper-bid {
  background: #232630;
  // height: 500px;
}
.main__bid {
  padding: 80px 0;
  display: flex;
}
.bid__title {
  flex: 1 1 50%;
  h2 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.6;
  }
}
.bid__form {
  flex: 1 1 50%;
}
.form__body {
}
.form__item {
  display: flex;
  margin-bottom: 18px;
}
.form__item-bloc1 {
  margin-right: 20px;
}
.form__item-bloc2 {
}
.form__message {
}
.form__label {
  display: block;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 4px;
}
.form__input {
  height: 44px;
  width: 460px;
}
.form__input,
.form__text {
  padding-left: 10px;
  background: #343845;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
}
.form__message {
  margin-bottom: 25px;
}
.form__text {
  height: 108px;
  width: 100%;
  padding-top: 10px;
}

//  checkbox =======================
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -50px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;

  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -3px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 2px;
  width: 14px;
  height: 7px;
  border-radius: 1px;
  border-left: 2px solid #ff3214;
  border-bottom: 2px solid #ff3214;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

// checkbox ==========================

.checkbox__label {
  span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #a7a8ac;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
.form__button {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #ff3214;
  padding: 16px 40px;
}

// <!-- footer wrapper ================== -->
.footer {
  background-color: #fff;
}

.footer__wrapper {
  padding: 84px 0 63px 0;
}
.footer__block-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.footer__block-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.block__links-1 {
  flex: 1 1 5%;
}

.block__links-2 {
  flex: 1 1 20%;
}

.block__links-3 {
  flex: 1 1 2%;
}

.block__links-4 {
  flex: 1 1 17%;
}
.logo {
  flex: 0 1 42%;
}
.footer__input {
  flex: 0 1 42%;
}
.footer__btn {
  display: flex;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #969595;
  background: none;
  margin-bottom: 7px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__links {
  display: flex;
}
.footer__links-item {
  li {
    padding: 0 0 16px 0;
    &:last-child {
      padding: 0;
    }
  }
  a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #201d1d;
  }
}
.footer__contact {
  flex: 0 1 17%;
  a {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff3214;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer__address {
  flex: 0 1 17%;
  p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #969595;
    line-height: 20px;
    max-width: 255px;
  }
}

// footer privacy ===================
.footer__privacy {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  border-top: 1px solid #f3f3f3;

  span,
  a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #969595;
  }
}
.footer__div {
  flex: 1 1 40%;
}
.footer__law {
  flex: 1 1 39%;
}
.footer__politics {
  flex: 1 0 15%;
}

// media ==================================

@media (max-width: 1440px) {
  // main =======================
  main {
    background: url(../img/baground/2bg1440.jpeg) 0 0 / contain no-repeat;
    -ms-background: url(../img/baground/2bg1440.jpeg) 0 0 / contain no-repeat;
    padding: 0 0 165px 0;
  }
  .main__title {
    margin-left: 180px;
    p {
      max-width: 715px;
    }
  }
  // header =========================
  .header__search {
    input {
      width: 400px;
    }
  }
  // comment ===============
  .comment__item-text {
    width: 720px;
  }
  // bid form ==================
  .form__button {
    padding: 16px 24px;
  }
  // footer privacy ============
  .footer__div {
    flex: 1 1 50%;
  }
  .footer__law {
    flex: 1 1 49%;
  }
  .footer__politics {
    flex: 1 0 17%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    h2 {
      font-size: 30px;
    }
  }

  .container {
    padding: 20px 24px;
  }
  // header ===============

  .header__menu {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    background: #ffffff;
    box-shadow: #ccc;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
  }
  .header__menu.open-menu {
    left: 0;
  }
  .menu__list {
    display: block;
    li:last-child {
      margin: 25px 0px 25px 33px;
    }
  }
  .menu__list li {
    margin: 25px 0px 25px 33px;
  }

  .header__logo {
    margin-left: 45px;
    flex: 1;
  }
  // burger =====================
  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 35px;
    flex: 0 0;
  }
  .menu__burger span,
  .menu__burger:after,
  .menu__burger:before {
    height: 3px;
    width: 20px;
    position: absolute;
    background: #201d1d;
    margin: 0 auto;
  }
  .menu__burger span {
    top: 16px;
  }
  .menu__burger:after,
  .menu__burger:before {
    content: "";
  }
  .menu__burger:after {
    bottom: 10px;
  }
  .menu__burger:before {
    top: 10px;
  }

  .menu__burger.open-menu span {
    opacity: 0;
    transition: 0.3s;
  }
  .menu__burger.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.2s;
  }
  .menu__burger.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.2s;
  }

  // cube =====================
  .nav__form-cube {
    margin: 0 32px 0 0;
  }
  // search ===============
  .header__search {
    position: absolute;
    right: 18%;
    background: #fff;
    input {
      width: 0px;
      -moz-transition: width 0.2s linear;
      -webkit-transition: width 0.2s linear;
      transition: width 0.2s linear;
      background: #f3f3f3;
      padding: 0;
    }
    button {
      background: #fff;
      color: #201d1d;
    }

    input[type="search"]:focus {
      width: 320px;
      outline: none;
      padding: 0 20px 0 20px;
      background: #f3f3f3;
    }

    button:hover {
      background: #f3f3f3;
      color: #969595;
    }
  }
  // main =====================

  main {
    background: url(../img/baground/3bg768.jpeg) 0 0 / contain no-repeat;
    -ms-background: url(../img/baground/3bg768.jpeg) 0 0 / contain no-repeat;
    padding: 0 0 269px 0;
  }
  .main__title {
    margin: 0;
    padding: 0 24px;
    h1 {
      font-size: 54px;
      letter-spacing: -0.02em;
      line-height: 64px;
    }
  }
  // <!-- section description ==================  -->
  .main__description {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main__item-text {
    img {
      margin-right: 27px;
    }
  }

  .description__item {
    max-width: 365px;
  }

  //main result =======================
  .main__result {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .result__title h2 {
    max-width: 180px;
  }
  // <!-- section comment ==================  -->
  .main__comment {
    padding-top: 46px;
    padding-bottom: 63px;
  }

  // <!-- section bid ==================  -->
  .main__bid {
    padding-top: 36px;
    padding-bottom: 36px;
    flex-direction: column;
  }
  .bid__title {
    p {
      margin-bottom: 36px;
    }
  }
  .form__input {
    width: 350px;
  }

  // footer ===================
  .footer__wrapper {
    padding: 40px 0 20px 0;
  }

  .logo {
    img {
      width: 120px;
    }
  }

  .footer__block-1 {
    margin-bottom: 30px;
  }
  .logo {
    flex: 0 1 33%;
  }
  .block__links-1 {
  }

  .block__links-2 {
    flex: 1 1 12%;
  }
  .footer__contact {
    flex: 0 1 25%;
  }

  .footer__input {
    flex: 0 1 33%;
  }

  .block__links-3 {
  }
  .block__links-4 {
    flex: 1 1 9%;
  }
  .footer__address {
    flex: 0 1 25%;
  }
  .footer__links-item {
    a {
      font-size: 12px;
    }
  }

  .footer__contact {
    a {
      display: flex;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
  // privacy ==================
  .footer__div {
    flex: 0 1 0%;
  }
  .footer__law {
    flex: 1 1 60%;
  }
  .footer__politics {
    flex: 1 1 20%;
  }
}
@media (max-width: 440px) {
  .wrapper h2 {
    font-size: 24px;
  }

  .header.container {
    padding: 8px 24px;
  }
  // burger =====

  .header__menu {
    top: 50px;
  }
  .menu__burger span,
  .menu__burger:after,
  .menu__burger:before {
    width: 17px;
  }

  // header =============
  .header__logo {
    margin-left: 33px;
    img {
      width: 105px;
    }
  }
  .header__search {
    right: 23%;

    input::placeholder {
      font-size: 11px;
    }
    input[type="search"]:focus {
      width: 250px;
      padding: 0 0 0 12px;
    }
  }
  .header__search input {
    height: 35px;
    font-size: 12px;
  }
  .header__search button {
    font-size: 15px;
    height: 35px;
    width: 35px;
  }
  .nav__form-cube {
    margin-right: 21px;
    width: 10px;
  }
  .btn__link {
    font-size: 11px;
  }

  // main ===============
  main {
    margin-top: 51px;
    background: url(../img/baground/4bg320.jpeg) 0 0 / cover no-repeat;
    -ms-background: url(../img/baground/4bg320.jpeg) 0 0 / cover no-repeat;
    height: 600px;
  }
  .main__menu {
    padding: 12px 24px;
  }
  .main__links {
    margin-bottom: 44px;
  }

  .main__title {
    padding: 0 24px;
    h1 {
      font-size: 46px;
      margin-bottom: 12px;
      width: 170px;
    }
    P {
      font-size: 15px;
      line-height: 23px;
    }
    a {
      font-size: 13px;
      padding: 16px 78px;
    }
  }
  .main__links-item {
    font-size: 12px;
  }
  // description ========
  .main__description-title {
    h2 {
      margin-bottom: 18px;
    }
  }
  .main__description {
    padding: 44px 24px;
    flex-direction: column;
  }

  // result ===================
  .main__result {
    flex-direction: column;
  }
  .result__title {
    h2 {
      max-width: 100%;
    }
    margin-bottom: 24px;
  }
  .result__item-text {
    width: 360px;
  }
  // comment =================
  .main__comment {
    flex-direction: column;
    padding: 50px 0 44px 0;
  }

  .main__item-text {
    img {
      width: 24px;
      height: 16px;
      margin-right: 16px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .comment__item-text {
    width: 335px;
  }
  .comment__item-boss {
    margin-left: 40px;
  }
  // section bid from ============
  .main__bid {
    padding: 44px 0;
  }
  .bid__title {
    p {
      margin-bottom: 20px;
    }
  }
  .form__item {
    flex-direction: column;
  }
  .form__item-bloc1 {
    margin-bottom: 18px;
    margin-right: 0;
  }
  .form__input {
    width: 100%;
  }
  .checkbox {
    display: flex;
  }
  .checkbox__input {
    margin-right: 8px;
  }
  .checkbox__label {
    span {
      line-height: 20px;
    }
  }
  .form__button {
    margin-top: 12px;
    font-size: 11px;
    padding: 12px 115px;
  }
  // section footer ==================
  .footer {
  }
  .footer__block-1 {
    flex-wrap: wrap;
  }
  .footer__wrapper {
    padding-top: 44px;
  }

  .logo {
    order: 1;
    flex: 1 1 50%;
    img {
      width: 100px;
    }
  }
  .footer__contact {
    flex: 1 1 38%;
    order: 2;
    margin-bottom: 30px;
    a {
      font-size: 14px;
    }
  }
  .block__links-1 {
    order: 3;
    flex: 1 1 24%;
  }
  .block__links-2 {
    order: 4;
  }
  .footer__block-2 {
    flex-wrap: wrap;
    position: relative;
  }
  .footer__input {
    order: 3;
    flex: 1 1 35%;
    margin-top: 30px;
  }
  .block__links-3 {
    order: 1;
    flex: 1 1 49%;
  }
  .block__links-4 {
    order: 2;
    flex: 3 1 22%;
  }

  .footer__links {
  }
  .footer__links-item {
  }

  .footer__address {
    flex: 1 1 25%;
    order: 4;
    position: absolute;
    top: 227px;
    left: -7px;
    width: 500px;
  }

  // footer privacy ===================
  .footer__privacy {
    flex-direction: column;
    padding: 70px 16px 24px 16px;
    border-top: 1px solid #f3f3f3;
  }
  .footer__div {
    margin-bottom: 0;
  }
  .footer__law {
    order: 2;
  }
  .footer__politics {
    order: 1;
    margin-bottom: 13px;
  }
}
@media (max-width: 320px) {
  .wrapper h2 {
    font-size: 24px;
  }
  .container {
    padding: 0 16px;
  }
  .header.container {
    padding: 8px 16px;
  }

  // // header =============

  .header__search {
    right: 28%;

    input::placeholder {
      font-size: 11px;
    }
    input[type="search"]:focus {
      width: 160px;
      padding: 0 0 0 8px;
    }
  }
  .header__search input {
    height: 25px;
    font-size: 11px;
  }
  .header__search button {
    font-size: 15px;
    height: 25px;
    width: 25px;
  }

  // // main ===============
  main {
    margin-top: 51px;
    background: url(../img/baground/4bg320.jpeg) 0 0 / contain no-repeat;
    -ms-background: url(../img/baground/4bg320.jpeg) 0 0 / contain no-repeat;
    padding: 0;
    height: 568px;
  }
  .main__menu {
    padding: 12px 16px;
  }
  .main__links {
    margin-bottom: 44px;
  }

  .main__title {
    padding: 0 16px;
    h1 {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 12px;
      width: 170px;
    }
    P {
      font-size: 14px;
      line-height: 20px;
    }
    a {
      font-size: 11px;
      padding: 12px 97px;
    }
  }
  .main__links-item {
    font-size: 12px;
  }
  // description ========

  .main__description {
    padding: 44px 16px;
  }

  // result ===================
  .main__result {
    flex-direction: column;
  }
  .result__title {
    h2 {
      max-width: 100%;
    }
    margin-bottom: 24px;
  }
  .result__item-text {
    width: 285px;
  }
  // comment =================
  .comment__item-text {
    width: 240px;
  }

  // section bid from ============

  .form__button {
    margin-top: 0;
  }
  // section footer ==================

  .footer__address {
    top: 210px;
    left: 0;
  }
}
